<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="constring"
			 connectionString="Server=serverapp.database.windows.net; 
                           Database=Novena; 
                           User ID=administrador; 
                           Password=0013110051030Soct; 
                           Encrypt=True; 
                           TrustServerCertificate=False; 
                           Connection Timeout=30;" />
	</connectionStrings>
</configuration>